
@media screen and (min-width: 1200px) {
    .wrapper {
        min-width: 1200px;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
}

.mermaid {
    border: 1px solid;
    padding: 20px 5px;
}

.box-it {
    background: pink;
}

.side-by-side {
    display: flex;
    gap:20px;

    > p {
        margin: auto 0;
    }
}

$back: #1E2761;
$text: #ffffff;
$border: #EA738D;

.box-intro {
    border: 10px solid $border;
    border-top: none;
    border-bottom:none;
    padding: 10px;
    background: $back;
    color: $text;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

blockquote {
    background: white;
    border-left-color: $border !important;
    color: $back;
}
